* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    align-items: center;
    padding-bottom: 50px;
}

nav ul {
    padding-right: 200px;
}

nav h2 {
    margin-left: 100px;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: 20px;    
}    

nav ul li a {
    text-decoration: none; 
    color: white; 
}

.headerTwo {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    padding-bottom: 100px;
}

.headerTwo-Block1 {
    /*margin-left: 100px; */
    margin-left: 100px;
}

.headerTwo-Block1 h2 {
    font-size: 48px ;
    font-weight: bolder;
}
.headerTwo-Block1 p {
    font-size: 18px;
}

.headerTwo-Block1 button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid #3882F6;
    background-color: #3882F6;
    color: white;
}

.headerTwo img {
    padding-right: 225px;
}

.firstMain {
    display: flex;
    justify-content: center;
}

.main-header {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.pictureText {
    text-align: center;
    padding: 40px;
}

.secondMain {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 100px;
    padding-left: 300px;
    display: flex;
    flex-direction: column;    
}

.endQuote {
    padding-left: 400px;
}

.thirdMain {
    background-color: #3882F6;
    color: white;
    margin: 60px 100px;
    padding: 30px;

}

.third-break {
    display: flex;
    justify-content: space-between;
}

.sign-upBtn {
    border: 1px solid white;
    background-color: #3882F6;
    color: white;
    padding: 10px 30px;
    border-radius: 12px;
}

footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 50px;
}